.cardTable {
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  margin-top: 30px;
}

.cardlist .grey-line {
  background-color: #f5f5f5;
}

.primaryBtn {
  margin-right: 20px;
}

.successBtn {
  margin-right: 15px;
}

.trainingNav {
  border: 1px solid #2eb9ce;
  margin-top: 20px;
}

.cardbox {
  width: 20%;
  height: 60px;
  border-radius: 18px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cardFooter {
  height: 50px;
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 0px;
}

.btnLeft {
  margin: -130px;
  margin-top: 140px;
}

.btnRight {
  margin-left: 350px;
  margin-top: -210px;
}

.endOfCard {
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  width: 300px;
  font-size: 30px;
  border: 5px solid #1b7280;
}

.small-card {
  margin-top: 50px;
}

.picture {
  margin-top: 100px;
  margin-left: 450px;
}

.cardNumber {
  margin-top: 230px;
  margin-left: 650px;
}

.cardPicture {
  margin-left: 500px;
  margin-top: 50px;
  width: 350px;
  height: 350px;
}
